**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/artifacts
**/bin
**/node_modules
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
